.venv/
__pycache__/
.ipynb_checkpoints/

data/

reports/figures/
reports/results/

*.h5
*.keras
*.pkl
*.npy
*.npz
models/lstm_experiments*/

# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb

# LaTeX generated lists / indexes / glossaries
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.lot
*.lol

# Beamer / minted / temporary LaTeX dirs
_minted*/
*.pyg
auto/
*.auxlock
